body{
    background-color: #000;
    color: #fff;
}
.footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin-left: 20px; 
}
footer{
    text-align: center;
}
.links ul {
    list-style: none;
    text-align: right;
}

.links ul li {
    display: inline;
    margin-left: 20px; 
}
.links{
    margin-top: 75px;
}
a{
    color: #fff;
    text-decoration: none;
    font-family: 'Inter';
    margin-bottom: 50px;
}
.pepe{
    margin-top: 75px;
    margin-left: 50px;
}
.he{
    font-family: 'playfair display';
    text-align: center;
}
.hehe{
    font-family: 'playfair display';
    text-align: center;
    font-size: 200px;
    position: relative;
    z-index: 1;
}
.rec{
    position: absolute;
    left:70%;
    bottom: 1%;
}
.sec{
    position: absolute;
   top: 50%;

}

button{
    background-color: #fff;
    color: #000;
    width: 150px;
    height: 35px;
    font-family: 'Inter';
    margin-left: 50%;
}
.copy{
    text-align: center;
    font-family: 'Inter';
}
.ggmi{
    position: absolute;
    left: 60%;
    height: 75%;
}
.myp{
    position: absolute;
    right: 50%;
    font-size: 20px;
    width: 30%;
    height: 100%;

}
.hrhr{
    font-family: 'playfair display';
    text-align: center;
    margin-top: 50%;
}
.lop{
font-family: 'Inter';
font-size: 22px;
text-align: center;
}
.contcolumn{
    background-color: #181818;
    display: flex;
}
.text{
    float: right;
}
.papa{
    width: 50%;
}
.imgur{
    position: absolute;
    left: 70%;
}