body{
    background-color: #000;
    color: #fff;
}
.footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin-left: 20px; 
}
footer{
    text-align: center;
}
.links ul {
    list-style: none;
    text-align: right;
}

.links ul li {
    display: inline;
    margin-left: 20px; 
}
.links{
    margin-top: 75px;
}
a{
    color: #fff;
    text-decoration: none;
    font-family: 'Inter';
    margin-bottom: 50px;
}
.pepe{
    margin-top: 75px;
    margin-left: 50px;
}
.he{
    font-family: 'playfair display';
    text-align: center;
}
.hehe{
    font-family: 'playfair display';
    text-align: center;
    font-size: 200px;
    position: relative;
    z-index: 1;
}
.rec{
    position: absolute;
    left:70%;
    bottom: 1%;
}
.sec{
    position: absolute;
   top: 50%;

}

button{
    background-color: #fff;
    color: #000;
    width: 150px;
    height: 35px;
    font-family: 'Inter';
    margin-left: 50%;
}
.copy{
    text-align: center;
    font-family: 'Inter';
}
.ggmi{
    position: absolute;
    left: 60%;
    height: 75%;
}
.myp{
    position: absolute;
    right: 50%;
    font-size: 20px;
    width: 30%;
    height: 100%;

}
.hrhr{
    font-family: 'playfair display';
    text-align: center;
    margin-top: 50%;
}
.lop{
font-family: 'Inter';
font-size: 22px;
text-align: center;
}
.container {
    display: flex;
    
}

.contcolumn-1 {
    flex-direction: column; 
}
.contcolumn-2 {
    flex-direction: column; 
    display: flex;
    flex-direction: row-reverse;
    margin-top: 450px;
    position: relative;
    right: 200px;
}

.contcolumn-3 {
    flex-direction: row; 
    
}
.texts{
    background-color: #181818;
}
img{
    display: inline;
}
.text{
    float: right;
    position: relative;
    left: 328px;
    bottom: 315px;
    height: 40%;
}

.texte{
    position: relative;
    float: right;
    right: 150px;
    width: 500px;
}
.img2{
    position: relative;
    right: 150px;
}
.textx{
    position: relative;
    margin-bottom: 300px;
    bottom: 50px;
    top: -20px;
    height: 35%;
    width: 100%;
}
.see{
    background-color: #000;
    color: #fff;
    font-family: 'Inter';
    border:solid 1px #fff;
    margin-top: 50px;
}
.foot{
    margin-top: 100px;
}
.port{
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 100px;
}
.porto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgs, .imgs2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgs img, .imgs2 img{
    margin: 20px;
}
.cont{
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 100px;
}
input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid 1px #ffffff;
    margin-bottom: 20px;
  }
  textarea {
    background-color: black;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #ffffff;
  }
  label{
    font-family: 'Inter';
    font-size: 25px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 25%;
    margin-left: 500px;
  }
.formss{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 50px;
  }
footer{
    margin-top: 100px;
}
/*
.text{
    position: absolute;
    left: 100px;
}
.papa{
    width: 50%;
}
.imgur{
    position: absolute;
    left: 70%;
}*/